{% extends "organization/base.html" %}

{% block title %}Affiliations at {{ organization }}{% endblock %}

{% block header %}
<h1>{{ organization }}</h1>
<h2>Affiliations</h2>
{% endblock %}

{% block content %}
    <table class="pure-table">
    <thead>
    <tr>
        <th>Person</th>
        <th>Start</th>
        <th>End</th>
        <th>State</th>
    </tr>
    </thead>
    <tbody>{% for object in object_list %}
    <tr>
        <td><a href="{% url "organization:affiliation-update" organization_pk object.pk %}">{{ object.identity.label }}</a></td>
        <td>{{ object.start_date|default_if_none:"" }}</td>
        <td>{{ object.end_date|default_if_none:"" }}</td>
        <td>{{ object.state }}</td>
    </tr>{% endfor %}
    </tbody>
    </table>
{% endblock %}
