{% extends "organization/base.html" %}

{% block h1_title %}{{ object.label }}{% endblock %}
{% block title %}{{ object.label }}{% endblock %}

{% block header %}
    <h1>{{ object.label }}</h1>
{% endblock %}

{% block content %}

    {% if object.tags %}
        <section>
            <h2>
                <h2>Tags</h2>
                <ul>{% for tag in object.tags.all %}
                    <li>{{ tag.label }}</li>{% endfor %}
                </ul>
            </h2>
        </section>
    {% endif %}

    {% if object.identifiers %}
        <section>
            <h2>Identifiers</h2>

            <table class="pure-table">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>{% for identifier in object.identifiers.all %}
                    <tr>
                        <td>{{ identifier.type }}</td>
                        <td>{{ identifier.value }}</td>
                    </tr>{% endfor %}

                </tbody>
            </table>
        </section>
    {% endif %}

{% endblock %}
