{% extends "organization/base.html" %}{% load fsm %}

{% block title %}Affiliations at {{ organization }}{% endblock %}

{% block header %}
<h1>{{ organization }}</h1>
<h2>Affiliations</h2>
{% endblock %}

{% block content %}

    {% include "pagination.html" %}

    <table class="pure-table">
    <thead>
    <tr>
        <th></th>
        <th>Organization</th>
        <th>Type</th>
        <th>Course</th>
        <th>Start</th>
        <th>End</th>
        <th>State</th>
        <th>Managed by</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>{% for object in object_list %}
    <tr>
        <td></td>
        <td>{{ object.organization.label }}</td>
        <td>{{ object.type.label }}</td>
        <td>{{ object.course.label|default:"" }}</td>
        <td>{{ object.start_date|default_if_none:"" }}</td>
        <td>{{ object.end_date|default_if_none:"" }}</td>
        <td>{{ object.state }}</td>
        <td>{{ object.managed_by }}</td>
        <td>

        <form method="post" action="{{ object.get_absolute_url }}">{% csrf_token %}
        <input type="hidden" name="next" value="{{ request.build_absolute_uri }}">
            {% with object|available_state_transitions:request.user as available_transitions %}
                <p>
                    {% if 'accept' in available_transitions %}
                        <button type="submit" name="transition" value="accept" class="pure-button pure-button-primary">Accept</button>
                    {% endif %}
                    {% if 'reject' in available_transitions %}
                        <button type="submit" name="transition" value="reject"  class="pure-button button-error">Reject</button>
                    {% endif %}
                </p>
            {% endwith %}
        </form>
        </td>
    </tr>{% endfor %}
    </tbody>
    </table>

        {% include "pagination.html" %}

{% endblock %}
