{% extends "idm_brand/base.html" %}

{% block site_name %}Identity Self-Service{% endblock %}

{% block nav %}
<ul class="pure-menu-list">
    {% if user.is_authenticated %}
    <li class="pure-menu-item"><a class="pure-menu-link" href="{% url "name:name-list" %}">Names</a></li>
    <!--<li class="pure-menu-heading">Contact details</li>-->
    <li class="pure-menu-item"><a class="pure-menu-link" href="{% url "contact:address-list-self" %}">Addresses</a></li>
    <li class="pure-menu-item"><a class="pure-menu-link" href="{% url "contact:email-list-self" %}">Email addresses</a></li>
    <li class="pure-menu-item"><a class="pure-menu-link" href="{% url "contact:telephone-list-self" %}">Telephone numbers</a></li>
    <li class="pure-menu-item"><a class="pure-menu-link" href="{% url "contact:online-account-list-self" %}">Online accounts</a></li>
    <li class="pure-menu-item"><a class="pure-menu-link" href="{% url "person-affiliation-list" %}">Affiliations</a></li>
    <li class="pure-menu-item"><a class="pure-menu-link" href="{% url "attestation:source-document-list-self" %}">Identity attestation</a></li>
    <li class="pure-menu-item"><a class="pure-menu-link" href="{% url "organization:index" %}">Organizations</a></li>
    <li class="pure-menu-item"><a class="pure-menu-link" href="#">Log out</a></li>
    {% else %}
    <li class="pure-menu-item"><a class="pure-menu-link" href="{% url "oidc-login" %}">Log in</a></li>
    {% endif %}
<hr>
    <li class="pure-menu-item"><a class="pure-menu-link" href="{{ IDM_AUTH_URL }}">Account management</a></li>
    <li class="pure-menu-item"><a class="pure-menu-link" href="{{ IDM_CARD_URL }}">Card management</a></li>
</ul>
{% endblock %}
