{% extends "base.html" %}

{% block h1_title %}Profile{% endblock %}
{% block title %}Profile{% endblock %}

{% block content %}
    <section>
    <h2>Names</h2>
        <table class="pure-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Context</th>
                <th>Attested?</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>{% for name in object.names.all %}
                <tr>
                    <td>{{ name.plain_full }}</td>
                    <td>{{ name.context.label }}</td>
                    <td>{{ name.attested_by|yesno }}</td>
                    <td><a href="{% url "name:name-detail" pk=name.pk %}"><i class="fa fa-pencil" title="Edit"> </i></a></td>
                </tr>{% endfor %}
            </tbody>
        </table>
    </section>

    {% if object.affiliation_set.exists %}
    <section>
    <h2>Affiliations</h2>
        <table class="pure-table">
            <thead>
            <tr>
                <th>Organization</th>
                <th>Type</th>
                <th>From</th>
                <th>Until</th>
                <th>State</th>
                <th>Managed by</th>
            </tr>
            </thead>
            <tbody>{% for affiliation in object.affiliation_set.all %}
                <tr>
                    <td>{{ affiliation.organization }}</td>
                    <td>{{ affiliation.type.label }}</td>
                    <td>{{ affiliation.start_date|default_if_none:"" }}</td>
                    <td>{{ affiliation.end_date|default_if_none:"" }}</td>
                    <td>{{ affiliation.state }}</td>
                    <td>{% if affiliation.manage_url %}<a href="{{ affiliation.manage_url }}">{{ affiliation.managed_by|default_if_none:"" }}</a>{% else %}{{ affiliation.managed_by|default_if_none:"" }}{% endif %}</td>
                </tr>{% endfor %}
            </tbody>
        </table>
    </section>
    {% endif %}

    {% if object.role_set.exists %}
    <section>
    <h2>Roles</h2>
        <table class="pure-table">
            <thead>
            <tr>
                <th>Organization</th>
                <th>Role</th>
                <th>From</th>
                <th>Until</th>
                <th>State</th>
                <th>Managed by</th>
            </tr>
            </thead>
            <tbody>{% for role in object.role_set.all %}
                <tr>
                    <td>{{ role.organization }}</td>
                    <td>{{ role.organization_role.label }}</td>
                    <td>{{ role.start_date|default_if_none:"" }}</td>
                    <td>{{ role.end_date|default_if_none:"" }}</td>
                    <td>{{ role.state }}</td>
                    <td>{% if role.manage_url %}<a href="{{ role.manage_url }}">{{ role.managed_by|default_if_none:"" }}</a>{% else %}{{ role.managed_by|default_if_none:"" }}{% endif %}</td>
                </tr>{% endfor %}
            </tbody>
        </table>
    </section>
    {% endif %}

    {% if object.emails.exists %}
    <section>
    <h2>Email addresses</h2>
        <table class="pure-table">
            <thead>
            <tr>
                <th>Address</th>
                <th>Context</th>
                <th>Verified?</th>
            </tr>
            </thead>
            <tbody>{% for email in object.emails.all %}
                <tr>
                    <td>{{ email.value }}</td>
                    <td>{{ email.context.label }}</td>
                    <td>{{ email.validated|yesno }}</td>
                </tr>{% endfor %}
            </tbody>
        </table>
    </section>
    {% endif %}

    {% if object.online_accounts.exists %}
    <section>
    <h2>Social identities</h2>
        <table class="pure-table">
            <thead>
            <tr>
                <th>Provider</th>
                <th>Username</th>
                <th>Validated</th>
                <th>Managed by</th>
            </tr>
            </thead>
            <tbody>{% for online_account in object.online_accounts.all %}
                <tr>
                    <td>{{ online_account.provider.label }}</td>
                    <td>{{ online_account.screen_name }}</td>
                    <td>{{ online_account.validated|yesno }}</td>
                    <td>{% if online_account.manage_url %}<a href="{{ online_account.manage_url }}">{{ online_account.managed_by|default_if_none:"" }}</a>{% else %}{{ online_account.managed_by|default_if_none:"" }}{% endif %}</td>
                </tr>{% endfor %}
            </tbody>
        </table>
    </section>
    {% endif %}

{% endblock %}
