amqp
celery
Django>=1.10,<1.11
djangorestframework
django-dirtyfields
django-fsm
django-haystack
django-reversion
django-templated-email
-e git://github.com/alexsdutton/drf-fsm-transitions.git#egg=drf-fsm-transitions
drf-haystack
drf-nested-routers
jsonschema
kombu
psycopg2
pytz
PyYAML
requests
