amqp
celery
celery-haystack
Django>=1.10,<1.11
djangorestframework
django-dirtyfields
django-filter
django-formtools
django-fsm
django-haystack
django-phonenumber-field
django-sendfile
-e git://github.com/alexsdutton/django-oidc-auth.git#egg=django-oidc-auth
django-reversion
django-templated-email
django-widget-tweaks
-e git://github.com/alexsdutton/drf-fsm-transitions.git@both#egg=drf-fsm-transitions
drf-haystack
drf-nested-routers
-e git://github.com/alexsdutton/idm-broker.git#egg=idm-broker
-e git://github.com/alexsdutton/idm-brand.git#egg=idm-brand
-e git://github.com/alexsdutton/drf-negotiate.git#egg=drf-negotiate
jsonschema
kombu
psycopg2
pysolr
pytz
PyYAML
requests
Pillow
