amqp
apscheduler
celery
Django>=1.10,<1.11
djangorestframework
django-dirtyfields
django-fsm
django-haystack
django-reversion
drf-fsm-transitions
drf-haystack
drf-nested-routers
jsonschema
kombu
Pillow
psycopg2
pytz
PyYAML
requests
SQLAlchemy
