{% extends "idm_brand/base.html" %}

{% block site_name %}Identity Self-Service{% endblock %}

{% block nav %}
<ul class="pure-menu-list">
    {% if user.is_authenticated %}
    <li class="pure-menu-item"><a class="pure-menu-link" href="{% url "selfservice:index" %}">Profile</a></li>
    <li class="pure-menu-item"><a class="pure-menu-link" href="{% url "selfservice:name-list" %}">Names</a></li>
    <li class="pure-menu-item"><a class="pure-menu-link" href="{% url "selfservice:name-list" %}">Contact details</a></li>
    <li class="pure-menu-item"><a class="pure-menu-link" href="{% url "organization:index" %}">Organizations</a></li>
        {% block organization_nav %}{% endblock %}
    <li class="pure-menu-item"><a class="pure-menu-link" href="#">Log out</a></li>
    {% else %}
    <li class="pure-menu-item"><a class="pure-menu-link" href="{% url "oidc-login" %}">Log in</a></li>
    {% endif %}
<hr>
    <li class="pure-menu-item"><a class="pure-menu-link" href="http://localhost:8001/">Account management</a></li>
</ul>
{% endblock %}
