{% extends "base.html" %}

{% block h1_title %}New {{ form.instance.context.label }}{% endblock %}
{% block title %}New {{ form.instance.context.label }}{% endblock %}

{% block extra_head %}
{{ form.media }}
{% endblock %}

{% block content %}
    {{ form.errors }}
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="instructions">{{ form.instance.context.instructions|safe }}</div>
    {{ form.image }}
    <p>
        <input type="submit" value="{% if form.instance.pk %}Update{% else %}Create{% endif %}">
    </p>
    </form>
{% endblock %}
