{% extends "base.html" %}{% load fsm %}

{% block h1_title %}Names{% endblock %}
{% block title %}Names{% endblock %}

{% block content %}
    <div class="pad-1">
        <table class="pure-table">
            <thead>
            <tr>
                <th>Context</th>
                <th>Current</th>
                <th>Proposed</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>{% for context, context_names in names.items %}
                <tr>
                    <td>{{ context.label|capfirst }}</td>

                    <td>
                            {{ context_names.accepted }}
                        {% if context_names.accepted and context.subject_to_acceptance %}<br>
                            {% if context_names.accepted.attestations.exists %}
                                (attested by {% for attestation in context_names.accepted.attestations.all %}{{ attestation.document.type.label }}{% if not forloop.last %}, {% endif %}{% endfor %})
                            {% else %}
                                (<i class="fa fa-exclamation-circle"> </i> not yet attested)
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                            {{ context_names.proposed }}
                        {% if context_names.proposed and context.subject_to_acceptance  %}<br>
                            {% if context_names.proposed.attestations.exists %}
                                (attested by {% for attestation in context_names.proposed.attestations.all %}<a href="{{ attestation.source_document.get_absolute_url }}">{{ attestation.source_document.type.label }}</a>{% if not forloop.last %}, {% endif %}{% endfor %})
                            {% else %}
                                (<i class="fa fa-exclamation-circle"> </i> not yet attested)
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url "name:name-create-self" context=context.id %}" class="pure-button"><i class="fa fa-edit"> </i> Change</a>
                        {% if context_names.proposed %}
                            <form method="post" action="{{ context_names.proposed.get_absolute_url }}">{% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.build_absolute_uri }}">
                                {% with context_names.proposed|available_state_transitions:request.user as available_transitions %}
                                    {% if 'accept' in available_transitions %}
                                        <button type="submit" name="transition" value="accept" class="pure-button">Accept</button>
                                    {% endif %}
                                    {% if 'reject' in available_transitions %}
                                        <button type="submit" name="transition" value="reject"  class="pure-button">Reject</button>
                                    {% endif %}
                                {% endwith %}
                            </form>
                        {% endif %}
                    </td>
                </tr>{% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}